.form__container {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid black;
}

.btn__add {
    width: auto;
    padding: 3px;
    background-color: aquamarine;
}